*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "poppins", sans-serif;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 3rem;
}

/* ...................................  */
/* Navbar style  */
/* ....................................  */
.navbar{
    margin-bottom: 5rem;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
  width: 70%;
}

.grow-list{
 margin-right: 42rem;
}

.list{
display: flex;
gap: 3.2rem;
}

.list-item{
    font-size: 1.6rem;
    color:#BCBCBC ;
    line-height: 1.6;
}
.list-item:hover{
    color: #000;
}
.black{
    color: #000;
}

.button-group{
    margin-left: 3rem;
}
.nav-button{
    display: block;
    width: 100%;
    height: 5.5rem;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 1.5rem 3rem;
    border-radius:10px;
    text-align: center;
    font-weight: 600;
    border: transparent;
    background-color: #5955B3;
    color: #fff;
}


/* ...................................  */
/* Hero section style  */
/* ....................................  */



.banner-container{
    display: grid;
    grid-template-columns: 35fr 65fr;
}

.banner-text{
    margin-top: 10rem;
}

.heading-text{
    /* text-align: center; */
    font-size: 6rem;
    color: #3C2F60;
    line-height: 1.1;
    margin-bottom: 4rem;
}
.heading-text span{
    color: #5955B3;
}
.description{
    color: #9b9a9a;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin-bottom: 6rem;

}

.btn{
  width: 60%;  
  padding: 1.5rem 3rem;
  font-size: 2rem;
  height: 6.5rem;
}

.banner-img{
    width: 100%;
}